body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0b1220;
  color: #fff;
}

.container {
  padding: 20px;
}

h1 {
  font-size: 32px;
}

.subtitle {
  color: #9ca3af;
  margin-bottom: 20px;
}

.top-bar {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  background: #1f2937;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 6px;
}

button {
  background: #14b8a6;
  border: none;
  padding: 10px 15px;
  color: black;
  border-radius: 6px;
  cursor: pointer;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin-bottom: 20px;
}

.card {
  background: #111827;
  padding: 20px;
  border-radius: 10px;
}

.card.high p {
  color: #ef4444;
}

.card.medium p {
  color: #f59e0b;
}

.card.low p {
  color: #10b981;
}

.avg {
  margin-bottom: 20px;
  font-size: 20px;
  color: #14b8a6;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: #111827;
  border-radius: 10px;
  overflow: hidden;
}

th, td {
  padding: 12px;
  text-align: left;
}

th {
  color: #9ca3af;
}

tr {
  border-bottom: 1px solid #1f2937;
}

.highrisk {
  color: #ef4444;
}

.mediumrisk {
  color: #f59e0b;
}

.lowrisk {
  color: #10b981;
}
.controls {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.controls input {
  padding: 10px;
  width: 50%;
  background: #1f2937;
  border: none;
  border-radius: 8px;
  color: white;
}

.filters button {
  margin-left: 8px;
  padding: 8px 12px;
  border-radius: 20px;
  border: none;
  background: #1f2937;
  color: white;
  cursor: pointer;
}

.filters .active {
  background: #14b8a6;
  color: black;
}

/* risk colors */
.high {
  color: #ef4444;
}

.medium {
  color: #f59e0b;
}

.low {
  color: #10b981;
}
.chart-box {
  background: #111827;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
}

.progress {
  background: #1f2937;
  height: 8px;
  border-radius: 10px;
  margin-bottom: 5px;
}

.bar {
  height: 100%;
  background: #14b8a6;
  border-radius: 10px;
}